In [31]:
import pandas as pd
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv'
df = pd.read_csv(url, error_bad_lines=False)


#remove cols
df = df.drop(columns = ['iso2', 'iso3', 'code3', 'FIPS', 'Country_Region', 'Combined_Key'])
df = df.rename(columns={"Admin2": "County", 'Province_State':'State', 'Long_':'Long'})



#url2-------------------
url2 = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv'
dfD = pd.read_csv(url2, error_bad_lines=False)

dfD = dfD.drop(columns = ['iso2', 'iso3', 'code3', 'FIPS', 'Country_Region', 'Combined_Key'])
dfD = dfD.rename(columns={"Admin2": "County", 'Province_State':'State', 'Long_':'Long'})


####most populous
lyst = []
for x in dfD['State']:
    dfD2 = dfD[(dfD['State'] == x)]
    dfD3 = dfD2[(dfD2['Population'] == dfD2['Population'].max())]
    uid = dfD3.iat[0,0]
    lyst.append(uid)
    
df = df[df['UID'].isin(lyst)]

####----------------------------------

     
#remove hawaii & DC
df = df[(df['State'] != 'Hawaii')]
df = df[(df['State'] != 'District of Columbia')]
df = df[(df['State'] != 'Puerto Rico')]
df = df[(df['State'] != 'Alaska')]
df = df[(df['State'] != 'American Samoa')]
df = df[(df['State'] != 'Diamond Princess')]
df = df[(df['State'] != 'Alaska')]
df = df[(df['State'] != 'Northern Mariana Islands')]
df = df[(df['State'] != 'Virgin Islands')]
df = df[(df['State'] != 'Guam')]
df = df[(df['State'] != 'Grand Princess')]


df = df.reset_index(drop = True)
df

,UID,County,State,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,3/7/22,3/8/22,3/9/22,3/10/22,3/11/22,3/12/22,3/13/22,3/14/22,3/15/22,3/16/22
0,84001073,Jefferson,Alabama,33.555547,-86.895063,0,0,0,0,0,...,183611,183655,183690,183735,183787,183787,183787,183834,183863,183897
1,84004013,Maricopa,Arizona,33.348359,-112.491815,0,0,0,0,1,...,1248818,1248818,1248818,1253285,1253285,1253285,1253285,1253285,1253285,1253285
2,84005119,Pulaski,Arkansas,34.770541,-92.313551,0,0,0,0,0,...,102157,102200,102236,102261,102307,102362,102394,102432,102456,102466
3,84006037,Los Angeles,California,34.308284,-118.228241,0,0,0,0,1,...,2805119,2805949,2807057,2808409,2810308,2811864,2811864,2813689,2814409,2815379
4,84008031,Denver,Colorado,39.760183,-104.872569,0,0,0,0,0,...,165157,165227,165360,165532,165670,165670,165670,165862,166005,166147
5,84009001,Fairfield,Connecticut,41.268099,-73.388117,0,0,0,0,0,...,199323,199642,199692,199775,199851,199851,199851,200091,200186,200265
6,84010003,New Castle,Delaware,39.579926,-75.640550,0,0,0,0,0,...,145740,145762,145797,146011,146106,146106,146189,146208,146237,146269
7,84012086,Miami-Dade,Florida,25.611236,-80.551706,0,0,0,0,0,...,1178827,1178827,1178827,1178827,1180488,1180488,1180488,1180488,1180488,1180488
8,84013121,Fulton,Georgia,33.792169,-84.463194,0,0,0,0,0,...,212630,212651,212711,212786,212869,212869,212869,212978,213043,213117
9,84016001,Ada,Idaho,43.452658,-116.241552,0,0,0,0,0,...,131024,131382,131644,131902,131990,131990,131990,132050,132164,132307
10,84017031,Cook,Illinois,41.841448,-87.816588,0,0,1,1,1,...,1114552,1114942,1115700,1116353,1117364,1117364,1117364,1118357,1118987,1119444
11,84018097,Marion,Indiana,39.781636,-86.138263,0,0,0,0,0,...,223989,224030,224077,224120,224145,224145,224145,224215,224244,224274
12,84019153,Polk,Iowa,41.686795,-93.577675,0,0,0,0,0,...,123641,123641,124161,124161,124161,124161,124161,124161,124161,124302
13,84020091,Johnson,Kansas,38.885482,-94.822509,0,0,0,0,0,...,144413,144413,144548,144548,144643,144643,144643,144708,144708,144783
14,84021111,Jefferson,Kentucky,38.186647,-85.659310,0,0,0,0,0,...,220855,220855,220855,221170,221170,221170,221170,221170,221170,221170
15,84022033,East Baton Rouge,Louisiana,30.538420,-91.097776,0,0,0,0,0,...,105107,105127,105162,105173,105181,105181,105181,105219,105244,105256
16,84023005,Cumberland,Maine,43.837075,-70.372270,0,0,0,0,0,...,47414,47500,47522,47566,47590,47630,47630,47630,47673,47703
17,84024031,Montgomery,Maryland,39.136763,-77.203582,0,0,0,0,0,...,165635,165707,165749,165809,165884,165947,165985,166010,166045,166106
18,84025017,Middlesex,Massachusetts,42.486077,-71.390492,0,0,0,0,0,...,318765,319007,319275,319520,319742,319742,319742,320163,320334,320543
19,84026163,Wayne,Michigan,42.280984,-83.281255,0,0,0,0,0,...,393795,393795,394107,394107,394489,394489,394489,394841,394841,395227
20,84027053,Hennepin,Minnesota,45.007615,-93.476949,0,0,0,0,0,...,294543,294821,294961,295074,295599,295599,295599,295722,295836,296036
21,84028049,Hinds,Mississippi,32.265628,-90.444354,0,0,0,0,0,...,51976,51981,51981,51981,51981,51981,51981,52025,52025,52025
22,84029189,St. Louis,Missouri,38.637700,-90.445837,0,0,0,0,0,...,218410,218504,218547,218605,218669,218669,218669,218819,218926,219011
23,84030111,Yellowstone,Montana,45.939559,-108.269149,0,0,0,0,0,...,42634,42656,42673,42684,42689,42689,42689,42710,42716,42731
24,84031055,Douglas,Nebraska,41.295183,-96.150853,0,0,0,0,0,...,148513,148591,148640,148767,148815,148815,148815,148869,148926,149002
25,84032003,Clark,Nevada,36.214589,-115.013024,0,0,0,0,0,...,512571,512905,513436,514086,514620,514620,514620,514620,514620,533423
26,84033011,Hillsborough,New Hampshire,42.915378,-71.720025,0,0,0,0,0,...,95986,96010,96047,96074,96074,96074,96105,96184,96197,96228
27,84034003,Bergen,New Jersey,40.960109,-74.071643,0,0,0,0,0,...,219360,219506,219635,219824,219942,220070,220146,220183,220267,220589
28,84035001,Bernalillo,New Mexico,35.051636,-106.670355,0,0,0,0,0,...,145388,145424,145504,145613,145682,145682,145682,145825,145869,145923
29,84036047,Kings,New York,40.636182,-73.949356,0,0,0,0,0,...,687264,687363,687501,687731,688014,688014,688599,688799,689316,689621
30,84037183,Wake,North Carolina,35.788793,-78.652492,0,0,0,0,0,...,287060,287173,287434,287665,287831,287831,287831,288199,288247,288247
31,84038017,Cass,North Dakota,46.932017,-97.244472,0,0,0,0,0,...,58634,58650,58666,58681,58686,58717,58722,58725,58736,58757
32,84039049,Franklin,Ohio,39.969958,-83.011158,0,0,0,0,0,...,286735,286796,286879,286983,287052,287113,287149,287149,287149,287149
33,84040109,Oklahoma,Oklahoma,35.551401,-97.407169,0,0,0,0,0,...,194092,194092,194092,195855,195855,195855,195855,195855,195855,195855
34,84041051,Multnomah,Oregon,45.547480,-122.416935,0,0,0,0,0,...,111440,111494,111582,111644,111747,111747,111747,111911,111984,112053
35,84042101,Philadelphia,Pennsylvania,40.003385,-75.137927,0,0,0,0,0,...,305303,305734,305790,305927,306006,306006,306006,306134,306251,306606
36,84044007,Providence,Rhode Island,41.870647,-71.577535,0,0,0,0,0,...,216688,216688,217616,217616,217616,217616,217616,217616,217616,218520
37,84045045,Greenville,South Carolina,34.895023,-82.372950,0,0,0,0,0,...,171487,171497,171511,171545,171604,171604,171604,171604,171641,171641
38,84046099,Minnehaha,South Dakota,43.674416,-96.791089,0,0,0,0,0,...,56862,56874,56891,56900,56909,56909,56909,56921,56936,56947
39,84047157,Shelby,Tennessee,35.186478,-89.896924,0,0,0,0,0,...,234127,234127,234638,234638,234638,234638,234638,234638,234638,234862
40,84048201,Harris,Texas,29.858649,-95.393395,0,0,0,0,0,...,994677,994883,995185,995730,995880,996137,996362,996527,996687,996816
41,84049035,Salt Lake,Utah,40.666165,-111.921601,0,0,0,0,0,...,339945,339958,340022,340102,340203,340203,340203,340366,340399,340483
42,84050007,Chittenden,Vermont,44.463228,-73.083592,0,0,0,0,0,...,30043,30047,30069,30087,30113,30113,30113,30169,30197,30254
43,84051059,Fairfax,Virginia,38.836776,-77.275658,0,0,0,0,0,...,173437,173584,173584,173856,173981,173981,173981,174218,174337,174407
44,84053033,King,Washington,47.491379,-121.834613,1,1,1,1,1,...,367762,367762,368240,368240,368827,368827,368827,369569,369569,369569
45,84054039,Kanawha,West Virginia,38.338601,-81.528571,0,0,0,0,0,...,46824,46838,46865,46887,46898,46898,46898,46940,46953,46966
46,84055079,Milwaukee,Wisconsin,43.004861,-87.967332,0,0,0,0,0,...,266813,266872,266945,267008,267071,267071,267071,267176,267253,267312
47,84056021,Laramie,Wyoming,41.307025,-104.688750,0,0,0,0,0,...,25983,25991,26000,26020,26026,26026,26026,26026,26043,26043

In [32]:
#for one
#Autuga
#create empty df
column_names = ["Date", "Cases", "County", "State", "Lat", "Long"]
data = pd.DataFrame(columns = column_names)


#loop
for x in df['UID']:
    df2 = df[(df['UID'] == x)]


    df2 = df2.T
    #reset col names
    df2.columns = range(df2.shape[1])
    
    df2['UID'] = df2.iloc[0,0]
    df2['County'] = df2.iloc[1,0]
    df2['State'] = df2.iloc[2,0]
    df2['Lat'] = df2.iloc[3,0]
    df2['Long'] = df2.iloc[4,0]
    
    #outside loop
    #remove top 4

    df2 = df2.iloc[5:]

    df2 = df2.reset_index()

    #rename cols
    df2 = df2.rename(columns={"index":"Date", 0:"Cases"})
    
    df2['New Cases'] = df2.Cases.diff().fillna(0)
    
    #FIX NEW CASES
    df2['New Cases']=df2['New Cases'].mask(df2['New Cases'].lt(0),0)

    df2['Cases'] = df2['New Cases'].cumsum()

    data = data.append(df2, True)
    
#change to date time
data['Date'] = pd.to_datetime(data.Date)
data['Date'] = data['Date'].dt.strftime('%Y-%m-%d')
#round to 6dp
data.Lat = data.Lat.round(decimals=6)
data.Long = data.Long.round(decimals=6)


data

,Date,Cases,County,State,Lat,Long,UID,New Cases
0,2020-01-22,0,Jefferson,Alabama,33.555547,-86.895063,84001073.0,0.0
1,2020-01-23,0,Jefferson,Alabama,33.555547,-86.895063,84001073.0,0.0
2,2020-01-24,0,Jefferson,Alabama,33.555547,-86.895063,84001073.0,0.0
3,2020-01-25,0,Jefferson,Alabama,33.555547,-86.895063,84001073.0,0.0
4,2020-01-26,0,Jefferson,Alabama,33.555547,-86.895063,84001073.0,0.0
...,...,...,...,...,...,...,...,...
37675,2022-03-12,26041,Laramie,Wyoming,41.307025,-104.688750,84056021.0,0.0
37676,2022-03-13,26041,Laramie,Wyoming,41.307025,-104.688750,84056021.0,0.0
37677,2022-03-14,26041,Laramie,Wyoming,41.307025,-104.688750,84056021.0,0.0
37678,2022-03-15,26058,Laramie,Wyoming,41.307025,-104.688750,84056021.0,17.0
37679,2022-03-16,26058,Laramie,Wyoming,41.307025,-104.688750,84056021.0,0.0

In [33]:
# weather----------------------------
#import
dfweather = pd.read_csv("weather2.csv")

#pick

#rename
dfweather = dfweather.rename(columns={"datetime":"Date"})

#split
dfsplit = dfweather['name'].str.split(',', expand=True)

#drop name from
dfweather = dfweather.drop(columns = ['name'])


#rename split
dfsplit = dfsplit.rename(columns={0:"Lat", 1:"Long"})


#CONCAT
dfw = pd.concat([dfsplit, dfweather], axis=1)

#convert date
dfw['Date'] = pd.to_datetime(dfw.Date)
dfw['Date'] = dfw['Date'].dt.strftime('%Y-%m-%d')
dfw['Date']=dfw['Date'].astype(object)

#convert lat, long to floats
dfw['Lat']=dfw['Lat'].astype(float)
dfw['Long']=dfw['Long'].astype(float)


#pcik cols
dfw = dfw[['Lat', 'Long', 'Date', 'temp', 'humidity', 'windspeed']]

#round
dfw.Lat = dfw.Lat.round(decimals=6)
dfw.Long = dfw.Long.round(decimals=6)


dfw

             Lat       Long        Date  temp  humidity  windspeed
0      42.486077 -71.390492  2020-03-01  -3.9     46.16       25.3
1      42.486077 -71.390492  2020-03-02   4.1     55.49       27.2
2      42.486077 -71.390492  2020-03-03  12.1     61.61       24.7
3      42.486077 -71.390492  2020-03-04   8.0     49.14       40.6
4      42.486077 -71.390492  2020-03-05   5.5     45.23       30.6
...          ...        ...         ...   ...       ...        ...
35035  40.003385 -75.137927  2022-02-24   0.7     53.20       20.3
35036  40.003385 -75.137927  2022-02-25   2.9     75.00       28.5
35037  40.003385 -75.137927  2022-02-26   0.3     49.80       16.5
35038  40.003385 -75.137927  2022-02-27   3.5     47.10       30.2
35039  40.003385 -75.137927  2022-02-28   1.2     38.90       21.5

[35040 rows x 6 columns]

In [34]:
#join
#dfnew = reduce(lambda left,right: pd.merge(left,right,on='GrowingSeason'), dfs)

dfnew = pd.merge(data, dfw, on=['Lat', 'Long', 'Date'])

#sort
new_cols = ['UID', "Date","County","State","Lat", 'Long', 'temp', 'humidity', 'windspeed', 'New Cases','Cases']
dfnew=dfnew[new_cols]
dfnew=dfnew.reindex(columns=new_cols)
dfnew['New Cases']=dfnew['New Cases'].astype(int)


#select dates (in Y-M-D format)
#dfnew2 = dfnew.loc[dfnew['Date'].between('2020-03-01','2022-02-28', inclusive=True)]
#dfnew2 = dfnew2.reset_index(drop = True)



#convert date back 
dfnew['Date'] = pd.to_datetime(dfnew.Date)
dfnew['UID'] = dfnew['UID'].astype(int)

dfnew

,UID,Date,County,State,Lat,Long,temp,humidity,windspeed,New Cases,Cases
0,84001073,2020-03-01,Jefferson,Alabama,33.555547,-86.895063,12.5,44.47,28.8,0,0
1,84001073,2020-03-02,Jefferson,Alabama,33.555547,-86.895063,14.4,85.83,19.0,0,0
2,84001073,2020-03-03,Jefferson,Alabama,33.555547,-86.895063,18.8,82.40,24.0,0,0
3,84001073,2020-03-04,Jefferson,Alabama,33.555547,-86.895063,13.3,90.78,14.5,0,0
4,84001073,2020-03-05,Jefferson,Alabama,33.555547,-86.895063,11.1,89.99,19.4,0,0
...,...,...,...,...,...,...,...,...,...,...,...
35035,84056021,2022-02-24,Laramie,Wyoming,41.307025,-104.688750,-13.2,68.00,26.9,25,25861
35036,84056021,2022-02-25,Laramie,Wyoming,41.307025,-104.688750,-10.6,65.60,21.5,19,25880
35037,84056021,2022-02-26,Laramie,Wyoming,41.307025,-104.688750,-6.9,45.00,22.6,0,25880
35038,84056021,2022-02-27,Laramie,Wyoming,41.307025,-104.688750,2.5,27.10,37.1,0,25880
35039,84056021,2022-02-28,Laramie,Wyoming,41.307025,-104.688750,6.6,23.60,48.7,39,25919

In [36]:
dfnew.to_csv(r'C:\Users\Mubby\OneDrive - University of Kentucky\DOCS\SPRING 2022\DS 711\Capstone python\casesdata.csv', index = False)