In [15]:
import numpy as np # linear algebra
import pandas as pd # data processing
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn import metrics
from pandas import DataFrame,Series
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
import matplotlib
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.model_selection import train_test_split,cross_val_score, cross_val_predict
import seaborn as sns # plotting library
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Normalizer
from keras.models import Sequential
from keras.layers import Dense
import tensorflow as tf
from pycaret.regression import *
from sklearn import preprocessing

In [16]:
df = pd.read_csv("covidweather.csv")
df = df.drop(columns = ['UID','Date','County', 'State', 'New Deaths', 'Cases', 'New Cases'])

df

,Population,Lat,Long,temp,humidity,windspeed,Deaths,Age-65,Income-PC
0,658573,33.555547,-86.895063,12.5,44.47,28.8,0,16.3,32098
1,658573,33.555547,-86.895063,14.4,85.83,19.0,0,16.3,32098
2,658573,33.555547,-86.895063,18.8,82.40,24.0,0,16.3,32098
3,658573,33.555547,-86.895063,13.3,90.78,14.5,0,16.3,32098
4,658573,33.555547,-86.895063,11.1,89.99,19.4,0,16.3,32098
...,...,...,...,...,...,...,...,...,...
35035,99500,41.307025,-104.688750,-13.2,68.00,26.9,273,16.5,35190
35036,99500,41.307025,-104.688750,-10.6,65.60,21.5,273,16.5,35190
35037,99500,41.307025,-104.688750,-6.9,45.00,22.6,273,16.5,35190
35038,99500,41.307025,-104.688750,2.5,27.10,37.1,273,16.5,35190
35039,99500,41.307025,-104.688750,6.6,23.60,48.7,273,16.5,35190

In [17]:
caret_df = setup(data = df, target = 'Deaths', session_id=55, train_size = 0.8)

In [18]:
compare_models()

LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
              importance_type='split', learning_rate=0.1, max_depth=-1,
              min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
              n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
              random_state=55, reg_alpha=0.0, reg_lambda=0.0, silent=True,
              subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [9]:
reg = create_model('lightgbm')

In [10]:
model = tune_model(reg)
print(model)

LGBMRegressor(bagging_fraction=0.8, bagging_freq=0, boosting_type='gbdt',
              class_weight=None, colsample_bytree=1.0, feature_fraction=0.8,
              importance_type='split', learning_rate=0.2, max_depth=-1,
              min_child_samples=56, min_child_weight=0.001, min_split_gain=0.5,
              n_estimators=250, n_jobs=-1, num_leaves=10, objective=None,
              random_state=55, reg_alpha=0.0001, reg_lambda=0.005, silent=True,
              subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [11]:
evaluate_model(model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'paramâ€¦

In [ ]:
sns.pairplot(df, diag_kind="kde")