In [21]:
import pandas as pd

In [22]:
death = pd.read_csv("deathdata.csv")
cases = pd.read_csv("casesdata.csv")
dems = pd.read_csv("county_demographics.csv")
#rename
dems = dems.rename(columns={"Age.Percent 65 and Older": "Age-65", 'Income.Per Capita Income':'Income-PC'})
dems

#remove county string
dems['County'] = dems['County'].str.replace('County', '')
dems['County'] = dems['County'].str.replace('Parish', '')
dems['County'] = dems['County'].str.rstrip()

In [23]:
#merge death and cases
dfnew = pd.merge(death, cases, on=['UID','Lat', 'Long', 'Date', 'County', 'State', 'temp', 'humidity', 'windspeed'])

In [24]:
#map US states
us_abb = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
}
abb_us = dict(map(reversed, us_abb.items()))
dfnew['State'] = dfnew["State"].map(us_abb)

In [25]:
#merge
df_merged = pd.merge(dfnew, dems, on=['County', 'State'])

df_merged

,UID,Date,County,State,Population,Lat,Long,temp,humidity,windspeed,New Deaths,Deaths,New Cases,Cases,Age-65,Income-PC
0,84001073,2020-03-01,Jefferson,AL,658573,33.555547,-86.895063,12.5,44.47,28.8,0,0,0,0,16.3,32098
1,84001073,2020-03-02,Jefferson,AL,658573,33.555547,-86.895063,14.4,85.83,19.0,0,0,0,0,16.3,32098
2,84001073,2020-03-03,Jefferson,AL,658573,33.555547,-86.895063,18.8,82.40,24.0,0,0,0,0,16.3,32098
3,84001073,2020-03-04,Jefferson,AL,658573,33.555547,-86.895063,13.3,90.78,14.5,0,0,0,0,16.3,32098
4,84001073,2020-03-05,Jefferson,AL,658573,33.555547,-86.895063,11.1,89.99,19.4,0,0,0,0,16.3,32098
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35035,84056021,2022-02-24,Laramie,WY,99500,41.307025,-104.688750,-13.2,68.00,26.9,0,273,25,25861,16.5,35190
35036,84056021,2022-02-25,Laramie,WY,99500,41.307025,-104.688750,-10.6,65.60,21.5,0,273,19,25880,16.5,35190
35037,84056021,2022-02-26,Laramie,WY,99500,41.307025,-104.688750,-6.9,45.00,22.6,0,273,0,25880,16.5,35190
35038,84056021,2022-02-27,Laramie,WY,99500,41.307025,-104.688750,2.5,27.10,37.1,0,273,0,25880,16.5,35190
35039,84056021,2022-02-28,Laramie,WY,99500,41.307025,-104.688750,6.6,23.60,48.7,0,273,39,25919,16.5,35190

In [28]:
df_merged.to_csv(r'C:\Users\Mubby\OneDrive - University of Kentucky\DOCS\SPRING 2022\DS 711\Capstone python\covidweather.csv', index = False)